/* Conteneur flexbox pour l'image et le formulaire */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Conteneur pour l'image */
.image-container {
    flex: 1;
    padding: 20px;
}

/* Styles pour l'image */
.illustrative-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Conteneur pour le formulaire */
.form-wrapper {
    flex: 2;
    padding: 20px;
}

/* Centrer le titre */
.text-center {
    text-align: center;
    margin-bottom: 20px;
}

/* Styles pour les labels */
.form-label {
    font-weight: bold;
    color: #333;
}

/* Styles pour les inputs */
.form-control {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}

/* Espacement entre les champs */
.mb-3 {
    margin-bottom: 15px;
}

/* Bouton de soumission */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
/* tableau */
/* Style pour le tableau */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

/* Style pour les en-têtes de colonnes */
.table th {
    font-weight: bold;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    padding: 8px;
    text-align: center;
}

/* Style pour les lignes du tableau */
.table td {
    border: 1px solid #dee2e6;
    padding: 8px;
    text-align: center;
}

/* Style pour les lignes alternées du tableau */
.table tbody tr:nth-of-type(even) {
    background-color: #f2f2f2;
}

/* Style pour le bouton supprimer */
.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}
/* gestion des carte */
.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .card {
    display: flex;
    flex-direction: row;
    width: 45%; /* Adjust the width to fit two cards side by side */
    margin: 10px;
    border: 1px solid #ccc; /* Optional: Add border for better visualization */
    border-radius: 8px; /* Optional: Add rounded corners */
    overflow: hidden; /* Ensure content stays within the card */
  }
  .image {
    flex: 1;
    max-width: 50%; /* Ensure the image takes up half of the card */
  }
  .image img {
    width: 100%;
    height: auto;
  }
  .text {
    flex: 1;
    padding: 20px;
  }
  .text h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .text p {
    font-size: 18px;
    line-height: 1.6;
  }