@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

    *{
        margin: 00;
        padding:00 ;

    }
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, sans-serif;
    }
    body{
        overflow-x: hidden;
    }
    header {
        background-color: #fff;
        padding: 20px;
        border-bottom: 1px solid #ddd;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav ul {
        display: flex;
        list-style: none;
    }

    nav ul li {
        margin: 0 15px;
    }

    nav ul li a {
        text-decoration: none;
        color: #333;
    }

    .auth-buttons button {
        margin-left: 10px;
        padding: 10px 20px;
        border: none;
        background-color: #ce0333;
        color: #fff;
        cursor: pointer;
    }
    .baniere{
        width: 100%;
        height: 23rem;
        background-color: #f7f4f4a7;
        display: flex;
        justify-content: space-around;
    }
    .box-baniere1{
width: 40%;

    }
    .img-baniere{
        height: 22rem;
        width: auto;
        margin-top:1.37rem;
     margin-left: 10rem;

    }
    .box-baniere2{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    padding: 4rem;
    }
    .text-baniere{
        text-align: start;
        font-family: 'Montserrat';
        font-weight: 300;
        font-size: 1.5rem;
        width: 39rem;
        margin: 2rem;
    }
    .cont-All{
        margin: 8rem;

    }
    .cont-box{
        padding: 1rem;
    display: flex; /* Utiliser Flexbox */
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    margin: auto;
    height: 100vh;
   gap: 5rem;
    }
    .box{
        display: flex;
        justify-content: start;
      width: 40rem;
      height: 20.5rem;
      box-shadow: 0.1rem 0.1rem 0.4rem 0.02rem
       black;
    border-radius: 0.2rem;

    }
    .photo-cont-All-box{
        width: 10rem;
        height: 15.5rem;
        border-radius: 0.2rem;
      object-fit: cover;
    }
    .box-element1{
        width: 100% ;
        padding: 1rem;
        align-items: center;
      word-wrap: break-word;
      overflow: break-word;
    }
    .btn_postuler{
        display: flex;
        align-items: center;
        margin: 00 auto ;
       margin-top: 100px;
       text-align: center;
    }







